<% if (title) {%>
<h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-box">
    <form action="/account/register" method="post">
        <label for="account_firstname">Firstname:</label>
        <input type="text" required name="account_firstname" id="account_firstname" value="<%= locals.account_firstname %>">
        <label for="account_lastname">Lastname:</label>
        <input type="text" required name="account_lastname" id="account_lastname" value="<%= locals.account_lastname %>">
        <label for="account_email">Email:</label>
        <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email%>">
        <label for="account_password">Password:</label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
        <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <button type="submit">Signup</button>
    </form>

    <p>Already have account? <a href="/account/login">Login</a></p>

</div>
