<% if (title) {%>
<h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p>This is an internal system only. Recipents are limited to the three generic accounts. </p>

<form class="message-box" action="/message/send" method="post">
  <label for="recepient">To:</label>
  <%- userList %>
  <label for="message_subject">Subject:</label>
  <input type="text" name="message_subject" id="message_subject" required value="<%= locals.message_subject %>">
  <label for="message_body">Message:</label>
  <textarea name="message_body" id="message_body" required><%= locals.message_body %></textarea>
  <input type="hidden" name="message_from" value="<%= locals.accountData.account_id %>">

  <button type="submit">Submit</button>
</form>

<a href="/message/inbox?user=<%= locals.accountData.account_id %>">Return to Inbox</a>